In [13]:
import pandas as pd
import numpy as np

In [14]:
data = pd.read_csv('../Data/daily_weather_data.csv')
display(data)

,date,temperature_2m_max,temperature_2m_min,temperature_2m_mean,precipitation_sum,rain_sum,snowfall_sum,wind_speed_10m_max,wind_gusts_10m_max
0,2017-01-01,7.2225,-0.7275,4.268333,0.100000,0.100000,0.0,23.113008,37.800000
1,2017-01-02,3.9725,-1.0775,1.732917,5.800001,5.800001,0.0,20.620804,34.200000
2,2017-01-03,6.0225,3.3725,4.541250,7.000000,7.000000,0.0,28.257132,46.800000
3,2017-01-04,9.5225,1.5725,5.807917,0.800000,0.800000,0.0,32.431984,62.279995
4,2017-01-05,0.6225,-4.1775,-1.523333,0.000000,0.000000,0.0,26.795223,46.800000
...,...,...,...,...,...,...,...,...,...
2551,2023-12-27,8.8225,5.0725,6.655833,5.200000,5.200000,0.0,16.119800,25.199999
2552,2023-12-28,11.4725,8.3225,9.699584,40.100000,40.100000,0.0,23.828083,44.280000
2553,2023-12-29,13.1725,7.0225,9.322499,0.400000,0.400000,0.0,18.104100,32.760002
2554,2023-12-30,7.7725,1.0725,5.128750,0.100000,0.100000,0.0,26.632700,45.360000
2555,2023-12-31,6.2725,-2.2275,2.576666,0.000000,0.000000,0.0,15.905319,27.720000

In [15]:
columns_to_drop = ['precipitation_sum','wind_gusts_10m_max']

df_clean = data.drop(columns_to_drop, axis=1)

In [16]:
df_clean

,date,temperature_2m_max,temperature_2m_min,temperature_2m_mean,rain_sum,snowfall_sum,wind_speed_10m_max
0,2017-01-01,7.2225,-0.7275,4.268333,0.100000,0.0,23.113008
1,2017-01-02,3.9725,-1.0775,1.732917,5.800001,0.0,20.620804
2,2017-01-03,6.0225,3.3725,4.541250,7.000000,0.0,28.257132
3,2017-01-04,9.5225,1.5725,5.807917,0.800000,0.0,32.431984
4,2017-01-05,0.6225,-4.1775,-1.523333,0.000000,0.0,26.795223
...,...,...,...,...,...,...,...
2551,2023-12-27,8.8225,5.0725,6.655833,5.200000,0.0,16.119800
2552,2023-12-28,11.4725,8.3225,9.699584,40.100000,0.0,23.828083
2553,2023-12-29,13.1725,7.0225,9.322499,0.400000,0.0,18.104100
2554,2023-12-30,7.7725,1.0725,5.128750,0.100000,0.0,26.632700
2555,2023-12-31,6.2725,-2.2275,2.576666,0.000000,0.0,15.905319

In [17]:
df_clean['rain_sum'] = np.where(df_clean['rain_sum'] >= 0.5, "Si", "No")

df_clean['snowfall_sum'] = np.where(df_clean['snowfall_sum'] >= 0.5, "Si", "No")

In [18]:
df_clean.to_csv("../Data/Data Procesada/Weather.csv", index= False)